.App {
  text-align: center;
}


.homepage-pics img {
  width: 300px;;
  height: 200px;
  object-fit: cover;
}

.pics img:hover {
  border-color:blue;
}

.homepage-pics {
  box-sizing: border-box;
  padding: 16px;
  display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 300px;
    gap:16px;
}


.header-links ul {

}
